<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937846838588-3aksjs5eqf295617if7ftt981el5kr5g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937846838588-3aksjs5eqf295617if7ftt981el5kr5g</string>
	<key>API_KEY</key>
	<string>AIzaSyD41XRs9dqrVqVrhKl4Gwgf4-_ov6MvyDY</string>
	<key>GCM_SENDER_ID</key>
	<string>937846838588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RebellionMedia.TheQuiteFranklyApp</string>
	<key>PROJECT_ID</key>
	<string>quitefrankly-a71bb</string>
	<key>STORAGE_BUCKET</key>
	<string>quitefrankly-a71bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937846838588:ios:870dfa15a45c3d87ccba39</string>
	<key>DATABASE_URL</key>
	<string>https://quitefrankly-a71bb.firebaseio.com</string>
</dict>
</plist>